<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: aliceblue;
            padding: 27px;
            font-size: 21px;
            text-align: center;
        }
        form {
            display: flex;
            flex-direction: column;
            width: 300px;
            align-self: center;
            margin: auto;
        }

        input {
            margin: 8px 0;
        }
    </style>
</head>
<body>
    <%- include('partials/nav.ejs') %>
    <h1>This is the About page</h1>
    <form action="/about" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="<%= qs.name %>"/>
        <label for="job">Job</label>
        <input type="text" name="job" id="job" value="<%= qs.job %>"/>
        <label for="email">Email</label>
        <input type="text" name="email" id="email" value="">
        <button type="submit">Submit</button>
    </form>
</body>
</html>