<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/styles.css" type="text/css"/>
    <script src="/assets/todo-list.js"></script>
</head>
<body>
    <div>
        <form>
            <input type="text" name="item" placeholder="new todo" required/>
            <button type="submit">Add</button>
        </form>
    </div>
    <ul>
        <% for (var i=0; i<todos.length; i++){ %>
            <li> <%= todos[i].item %> </li>
        <% } %>
    </ul>
</body>
</html>